---
---
/* Overrides for light theme only */

/* Variables copied from theme */
$color-brand-300: #1A7DB6;
$color-brand-400: #005A8E;
$color-brand-500: #FF9750;

button.section-searchbar {
    background: rgba($color-brand-300, 0.08) !important;
    color: $color-brand-400 !important;
}