---
---
/* Overrides for light theme only */

/* Variables copied from theme */
$color-brand-100: #FFFFFF;
$color-brand-200: #D0F3DE;
$color-brand-300: #61D790;
$color-brand-400: #2E2F27;
$color-brand-500: #4D4D4D;
$color-brand-600: #000000;
$color-brand-700: #0246C9;
$color-brand-800: #5E93FB;

button.section-searchbar {
    background: rgba($color-brand-300, 0.13) !important;
    color: $color-brand-400 !important;
}