---
---
/* Import helpers from Denali */
@import "denali-css/scss/denali-helpers";

// More media size selectors
.hide-desktop-down {
    @include media-size-down(desktop) {
        display: none !important;
    }
}

.hide-desktop-up {
    @include media-size-up(desktop) {
        display: none !important;
    }
}

.hide-hd-down {
    @include media-size-down(hd) {
        display: none !important;
    }
}

.hide-hd-up {
    @include media-size-up(hd) {
        display: none !important;
    }
}


/* Helpers that need to be added */

/* Variables copied from theme */
$color-brand-100: #FFFFFF;
$color-brand-200: #D0F3DE;
$color-brand-300: #61D790;
$color-brand-400: #2E2F27;
$color-brand-500: #4D4D4D;
$color-brand-600: #000000;
$color-brand-700: #0246C9;
$color-brand-800: #5E93FB;

.has-bg-brand-300 {
    background-color: $color-brand-300 !important;
}
.has-bg-brand-400 {
    background-color: $color-brand-400 !important;
}
.is-brand-500 {
    color: $color-brand-500 !important;
}

/* TODO: Border radiius circle and pill */
.br-circle {
    border-radius: 100%;
}

/* Gutters should be applied to rows */
/* Add a gutter size override too. */
.is-gutterless > .col {
    margin: 0px !important;
}

/* TODO: Add additional flexbox helpers */
.flex-wrap {
    flex-wrap: wrap;
}
.align-items-flex-end {
    align-items: flex-end;
}

/* NOTE: Add font weight override to nav items */
/* Add loop for height helpers */
.h-50 {
    height: 50px;
}
.h-40 {
    height: 40px;
}
.h-35 {
    height: 35px;
}

/* TODO: Lineheight Helpers */
.line-height-compact {
    line-height: 1 !important;
}

/* TODO: Add overflow helpers */
.overflow-hidden {
    overflow: hidden;
}

/* TODO: Background image helpers */
/* TODO: Button full size at breakpoints */
/* TODO: Navbar overflow */

/* Add sticky */
.sticky-top {
    position: sticky;
    top: 0;
}



/* Styles for the site */

/* Navbar */
.nav {
    font-weight: 700;
    z-index: 5;
}

.nav .nav-left {
    padding: 0 !important;
}

// Responsive design; downscaled nav bar for small desktop screens
@include media-size-only(small-desktop) {
    .nav .nav-left {
        width: 160px !important;
    }

    .nav .nav-responsive {
        width: calc(100% - 160px) !important;
    }

    .nav .nav-item {
        font-size: 1.4rem !important;
    }

    .nav .nav-right .nav-item {
        padding-left: 6px !important;
        padding-right: 6px !important;
    }

    .nav-item .d-icon {
        font-size: 2.0rem !important;
    }
}

.nav.vespa-light {
    border-bottom: 1px solid $color-brand-600;
}

input.section-searchbar {
    font-weight: 200 !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    color: $color-brand-600 !important;
}

button.section-searchbar {
    background: $color-brand-300 !important;
}

.nav-item.section-searchbar {
    padding-top: 14px;
    z-index: 9;
}

/* Cover */
.section-cover {
    height: 530px;

    .paragraph-header {
        font-weight: 600;
        font-size: 2.0rem;
    }
}
.section-cover--image {
    background-image: url("{{ site.baseurl }}/assets/cover-image.png");
    background-size: cover;
    background-position: center;
}

@media (max-width: 999px) {
    .section-cover--video-modal {
        width: 650px !important;
    }

    .section-cover--video-modal iframe#modal-video-frame {
        width: 560px;
        height: 315px;
    }
}

@media (min-width: 1000px) {
    .section-cover--video-modal {
        width: 975px !important;
    }

    .section-cover--video-modal iframe#modal-video-frame {
        width: 840px;
        height: 473px;
    }
}

/* Guides */
.section-guide--item {
    min-height: 320px;
    transition: 300ms;
}
.section-guide--item div:last-child {
    transition: 300ms;
}
.section-guide--item .section-guide--item--button > p {
    color: #005A8E;
    transition: 300ms;
}
.section-guide--item:hover {
    box-shadow: 0 1px 3px 2px rgba(0,0,0,0.10);
}
.section-guide--item:hover div:last-child {
    background-color: #1A7DB6;
}
.section-guide--item:hover .section-guide--item--button > p {
    color: #fff;
}

/* Users */
.section-users--user-column {
    align-items: start;
}

/* Blog */
.section-blog--image {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.section-blog--box {
    height: calc(100% - 40px);
}

/* Footer */
.section-footer--copyright {
    align-self: flex-end;
    align-items: flex-end;
}

/* Fix anchored links being hidden under navbar */
h1[id]::before, h2[id]::before, h3[id]::before, h4[id]::before, p[id]::before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}

.subpage {
    p, ul, ol, dl {
        margin-block-end: 0.5em;
    }
    h2 {
        margin-top: 35px;
        margin-bottom: 15px;
    }
    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h2:hover > a, h3:hover > a, h4:hover > a {
        opacity: 1;
    }
}

/* Hide tables and mathjax divs under navbar */
table, mjx-container {
    position: static !important;
}


/* */
body {
    font-size: 1.6rem;
}

figure {
    margin-bottom: 10px;
}

figcaption {
    font-style: italic;
}

code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 1.4rem;
}

/* #404040 for background is the same used in code highlighter.
   Same goes for #d0d0d0 */
pre {
    -webkit-font-smoothing: auto;
    overflow: auto;
    page-break-inside: avoid;
    display: block;
    line-height: 1.42857143;
    color: #d0d0d0;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #404040;
    white-space: pre-wrap;
    background-color: #404040;
    border-radius: 4px;
    padding: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}

// Make it easier to find links in pre-elements
pre > a {
    text-decoration: underline;
}

.pre-hilite {
    background-color: #6e2ebf;
}

.vespa-version  {
    background-color: #A9F5A9;
    border-radius: 4px;
    border: 1px solid #1DAD51;
    padding: 2px;
}

// Used for services.xml and schema config overview
.pre-config {
    color: #303030;
    background-color: white;
    border: 0px;
}
// Override the underline in pre for this class
pre.pre-config > a {
    text-decoration: none;
}

/* Floats on top of the pre to copy from. Copy appearance from pre */
.pre-copy-button {
    position: absolute;
    right: 0;
    border: none;
    border-radius: 4px;
    color: #d0d0d0;
    background-color: #404040;
    cursor: pointer;
}

.pre-parent {
    position: relative;
}

/* pre within figure is generated by liquid highlight inside the original pre -
   set zero padding / margin to keep size */
figure > pre {
    padding: 0px;
    margin-bottom: 0px;
}

code {
    padding: 2px 4px;
    color: #000000;
    background-color: #f9f2f4;
    border-radius: 4px;
}

/* Rouge-generated pre elements have code inside, make look like rest of pre */
/* Change the foreground color later for proper code highlighting (i.e. add rouge-made stylesheet) */
/* Revert the padding from <code< elements in text, no pad in <pre> */
pre > code {
    color: #d0d0d0;
    background-color: #404040;
    padding: 0px;
}


/* Sidebar */
.collapse-parent {
    cursor: pointer;
}

.collapse-all {
    cursor: pointer;
}

.collapsed {
    display: none !important;
}

.denali-theme-vespa-light .tabs.is-primary.is-vertical {
    min-width: 325px;
    width: 325px;
}

.denali-theme-vespa-light .tabs.is-primary.is-vertical ul {
    padding-top: 5px;
}

.denali-theme-vespa-light .tabs.is-primary.is-vertical ul li.tabs__section-header {
    white-space: normal;
    height: auto;
}

.denali-theme-vespa-light .tabs.is-primary.is-vertical ul li {
    height: auto;
    a {
        color: $color-brand-400;
    }
    a:hover {
        color: $color-brand-600;
    }
    
}

.denali-theme-vespa-light .tabs.is-primary.is-vertical ul li:hover {
    background: rgba($color-brand-500, .2);
    box-shadow: none;
}
.denali-theme-vespa-light .tabs.is-primary.is-vertical ul {
    margin: 10px;
    padding: 0;
    
}
.denali-theme-vespa-light .tabs.is-primary.is-vertical ul.show  {
    background: rgba($color-brand-500, .2);
    border-radius: $border-radius-md;
}

.denali-theme-vespa-light .tabs.is-primary.is-vertical ul.show li.tabs__section-header {
    margin-top: 0;
    padding-top: 0;
    background-color: $color-brand-400;
    border-radius: $border-radius-sm;
    a {
        font-weight: bold;
        color: white;
    }
}

.denali-theme-vespa-light .tabs.is-primary.is-vertical ul ul.inner-ul {
    padding: 0;
}

.denali-theme-vespa-light .tabs.is-primary.is-vertical ul.show ul.inner-ul.show li.tabs__section-sub {
    margin-top: 0;
    padding-top: 0;
    background-color: $color-brand-500;
    border-radius: $border-radius-sm;
    a {
        font-weight: bold;
        color: white;
    }
}

.denali-theme-vespa-light .tabs.is-primary.is-vertical ul.show ul.inner-ul.show {
    margin: 0 14px;
}

.denali-theme-vespa-light .tabs.is-primary.is-vertical ul ul.inner-ul {
    height: auto;
    margin: 2px 16px;
    
}

.denali-theme-vespa-light .tabs.is-primary.is-vertical ul li.tabs__section-header {
    height: auto;
    padding: 0;
}

.tabs {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 3;
}

dt {
    margin-top: 10px;
}

ul {
    list-style-type: disc;
}

ul, ol {
    padding-inline-start: 40px;
}

table.table tbody th {
    font-weight: bolder;
}

/* Ensure the content is not too wide, hence not wrap under the sidebar, using white-space: normal */
table.table th, table.table td {
    white-space: normal;
    vertical-align: top;
}

table {
    margin-bottom: 20px;
}

.denali-theme-vespa-light table.table th, .denali-theme-vespa-light table.table td {
    padding-bottom: 10px;
}

// Copy thead style for use in table subheadings to make look similar
.trx {
    height: 14px !important;
    border-bottom: solid 2px #e8e8e8;
}
.thx {
    text-transform: uppercase;
    font-weight: normal !important;
    color: #303030;
    font-size: 1.2rem;
    padding: 10px;
}


/* Search suggest dropdown */
.dropdown {
    background-color: $color-brand-200;
    position: absolute;
    margin-left: 0.4em;
    top: 35px;
    left: 0;
    right: 0;
}

.dropdown.show {
    display: inline-block;
    z-index: 7;
}

.dropdown.hide {
    display: none;
}

.dropdown > p {
    padding-left: 0.83em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-decoration: none;
    display: block;
    user-select: none;
    margin: 0;
    border: 0;
}

.dropdown > p:hover {
    background-color: $color-brand-300;
}

#selectedDropdownElement {
    background-color: $color-brand-300;
}

.filepath {
    -webkit-font-smoothing: auto;
    overflow: auto;
    page-break-inside: avoid;
    display: block;
    line-height: 1.42857143;
    color: #d0d0d0;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #404040;
    white-space: pre-wrap;
    background-color: #404040;
    border-radius: 4px;
    padding: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}


/* Query results */
.search-result-list {
    list-style-type: none;
}

.search-result-item {
    margin-top: 25px;
}

.search-result-link {
    font-size: 0.85em;
    color: #3c763d;
}

mark {
    background-color: white;
    font-weight: bold;
}


/* Boxes on index page */
.denali-theme-vespa .box {
    background: #f8f8f8;
}


/* Typography */
.denali-theme-vespa p, .denali-theme-vespa-light p {
    line-height: 1.4;
}


// Notes, information, warning
/* ToDo: Harmonize colors below with new color scheme */
.vespa-notification {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
// Make links stand out in the note section, in some color combinations hard to see
div.vespa-notification > a {
    text-decoration: underline;
}

.vespa-notification-note {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.vespa-notification-important {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.vespa-notification-prereqs {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.vespa-notification-warning {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.vespa-notification-query {
    color: #7ab648;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}

.vespa-notification-video {
    color: #303030;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}

.vespa-notification-new {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

// Quotes - override Denali settings back to default + italics
blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    font-style: italic;
}

// Hidden anchors are used in headings, visible when hovered over, or parent heading hover
.a-hidden {
    opacity: 0;
}
.a-hidden:hover {
    opacity: 1;
}

.querystring-x, .yql-x {
    background-color: #e8e8e8;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.chip {
    padding: 0 2rem;
    align-items: center;
    border-radius: 6.25rem;
    column-gap: 0.9375rem;
    display: inline-flex;
    justify-content: center;
    margin: 20px 20px 0px 20px;

    span {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 4rem;
    }
}

.chip-cloud {
    background-color: #baedce;
    color: #2e2f27;
}

.chip-oss {
    background-color: #b7e2f1;
    color: #2e2f27;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
     top: 120%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #2e2f27;
    color: white;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    margin-left: 30px;
    opacity: 0;
    transition: opacity 0.3s;
    line-height: 2.5rem;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* General TOC styles */
.toc ul {
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    padding: 10px 10px;
    font-size: 16px;
    color: #333;
    top: 20 px;
    right: 10px;
    flex-direction: column;
    flex-wrap: wrap;

    max-height: 80vh;
}
.toc ul h2 {
 color: $color-brand-400;
}
.toc ul li {
  margin-bottom: 8px;
  text-wrap: wrap;
}

/* Base link styles */
.toc ul li a {
    text-decoration: none;
    color: $color-brand-400;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  
    white-space: normal; 
    overflow: visible;
    text-overflow: unset;
    word-break: break-word; 
}
  
  /* Widths per heading level */
  .toc ul .toc-level-0 > a {
    width: 240px;
}
  
  .toc ul .toc-level-1 > a {
    width: 220px;
}
  
  .toc ul .toc-level-2 > a {
    width: 200px;
}

/* Hover effects */
.toc ul li a:hover {
    background-color: $color-brand-400;
    color: #fff;
    white-space: normal;     
    overflow: visible;
    word-break: break-word;
    
}

/* Neutral styling for TOC headings */
.toc ul .toc-level-0 {
    font-weight: bold;
    font-size: 18px;
}
  
  .toc ul .toc-level-1 {
    font-weight: bold;
    padding-left: 10px;
    font-size: 16px;
}
  
  .toc ul .toc-level-2 {
    padding-left: 20px;
    font-size: 14px;
}

/* FAQ-toc */
.toc.faq-toc ul .toc-level-0 > a {
    width: 100%;
}
.toc.faq-toc ul .toc-level-1 > a {
    width: 90%;
}
    
.toc.faq-toc ul .toc-level-2 > a {
    width: 80%;
}
  
/* Clean up link styling */
.toc ul li a {
    box-shadow: none;
    text-decoration: none;
    color: inherit;
}


/* Container overflow */

.container-overflow {
    overflow-x: hidden;
}
  
.content-overflow {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}
  
/* Formulas scalling */

mjx-container[display="true"] > svg { // excluding display="inline" and others
    width: 100%;
    height: auto;
    max-height: 70px;
    max-width: 600px; // limiting the width just so it won't get too big
}
  
mjx-container[display="true"] { // excluding display="inline" and others
    display: block;
    width: 100%;
}
  
.equation-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto; /* Allow horizontal scroll if formula gets too wide */
    display: block;
}