---
# Copyright Vespa.ai. All rights reserved.
title: "Documents"
---

<p>
  Vespa models data as <em>documents</em>.
  A document has a string identifier, set by the application, unique across all documents.
  A document is a set of <a href="document-api-guide.html">key-value pairs</a>.
  A document has a schema (i.e. type),
  defined in the <a href="schemas.html">schema</a>.
</p><p>
  When configuring clusters, a <a href="reference/services-content.html#documents">documents</a>
  element set what document types a cluster is to store.
  This configuration is used to configure the garbage collector if it is enabled.
  Additionally, it is used to define default routes for documents sent into the application.
  By default, a document will be sent to all clusters having the document type defined.
  Refer to <a href="/en/operations-selfhosted/routing.html">routing</a> for details.
</p>

<p>
  Vespa uses the document ID to distribute documents to nodes.
  From the document identifier, the content layer calculates a numeric location.
  A bucket contains all the documents,
  where a given amount of least-significant bits of the location are all equal.
  This property is used to enable co-localized storage of documents -
  read more in <a href="content/buckets.html">buckets</a> and
  <a href="elasticity.html">content cluster elasticity</a>.
</p>

<p>
  Documents can be <a href="reference/services-content.html#document">global</a>,
  see <a href="parent-child.html">parent/child</a>.
</p>



<h2 id="document-ids">Document IDs</h2>
<p>
  The document identifiers are URIs, represented by a string,
  which must conform to a defined URI scheme for document identifiers.
  The document identifier string may only contain <em>text characters</em>,
  as defined by <code>isTextCharacter</code> in
  <a href="https://github.com/vespa-engine/vespa/blob/master/vespajlib/src/main/java/com/yahoo/text/Text.java">
    com.yahoo.text.Text</a>.
</p>




<h3 id="id-scheme">id scheme</h3>
<p>
  Vespa has defined one scheme, the <em>id scheme</em>:
  <code>id:&lt;namespace&gt;:&lt;document-type&gt;:&lt;key/value-pairs&gt;:&lt;user-specified&gt;</code>
</p>
{% include note.html content='
An example mapping from ID to the URL used in <a href="document-v1-api-guide.html">/document/v1/</a> is from
<code>id:mynamespace:mydoctype::user-defined-id</code> to
<code>/document/v1/mynamespace/mydoctype/docid/user-defined-id</code>.
Find examples and tools in <a href="document-v1-api-guide.html#document-not-found">troubleshooting</a>.' %}
<p>
  Find examples in the <a href="document-v1-api-guide.html">/document/v1/</a> guide.
</p>
<table class="table">
  <thead>
  <tr>
    <th>Part</th>
    <th>Required</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr><th>namespace</th><td>Yes</td><td>See <a href="#namespace">below</a>.</td></tr>
  <tr><th>document-type</th><td>Yes</td><td>Document type as defined in
    <a href="reference/services-content.html#document">services.xml</a> and the
    <a href="reference/schema-reference.html">schema</a>.</td></tr>
  <tr><th style="white-space:nowrap">key/value-pairs</th><td>Optional</td><td>
    Modifiers to the id scheme, used to configure document distribution to
    <a href="content/buckets.html#document-to-bucket-distribution">buckets</a>.
    With no modifiers, the id scheme distributes all documents uniformly.
    The key/value-pairs field contains a comma-separated list of lexicographically sorted key/value pairs.
    <strong>n</strong> and <strong>g</strong> are mutually exclusive:
    <table class="table">
      <thead></thead><tbody>
        <tr><th>n=<em>&lt;number&gt;</em></th><td>
          Number in the range [0,2^63-1]</td></tr>
        <tr style="white-space: nowrap"><th>g=<em>&lt;groupname&gt;</em></th><td>
          Just like n=, the string is hashed to a number</td></tr>
      </tbody>
    </table>
    {% include important.html content='This is only useful for document types with
    <a href="reference/services-content.html#document">mode=streaming or mode=store-only</a>.
    Do not use modifiers for regular indexed document types.' %}
    See <a href="streaming-search.html">streaming search</a>. Using modifiers
    for regular indexed document will cause unpredictable feeding performance, in addition,
    search dispatch does not have support to limit the search to modifiers/buckets.
  </td></tr>
  <tr><th>user-specified</th><td>Yes</td><td>A unique ID string.</td></tr>
</tbody>
</table>


<h3 id="namespace">Namespace</h3>
<p>
  Example - if feeding
</p>
<ul>
  <li>document A by <code>curl -X POST https:.../document/v1/first_namespace/my_doc_type/docid/shakespeare</code></li>
  <li>document B by <code>curl -X POST https:.../document/v1/second_namespace/my_doc_type/docid/shakespeare</code></li>
</ul>
<p>
  then those will be separate documents, both searchable, with different document IDs.
  The document ID differs not in the user specified part (this is <code>shakespeare</code> for both documents),
  but in the namespace part (<code>first_namespace</code> vs <code>second_namespace</code>).
  The full document ID for document A is <code>id:first_namespace:my_doc_type::shakespeare</code>.
</p>
<p>
  The namespace has no relation to other configuration elsewhere, like in <em>services.xml</em> or in schemas.
  It is just like the user specified part of each document ID in that sense.
  Namespace can not be used in queries, other than as part of the full document ID.
  However, it can be used for <a href="reference/document-select-language.html">document selection</a>,
  where <code>id.namespace</code> can be accessed and compared to a given string, for instance.
  An example use case is <a href="visiting.html">visiting</a> a subset of documents.
</p>



<h2 id="fields">Fields</h2>
<p>
  Documents can have fields, see the <a href="reference/schema-reference.html#field">schema reference</a>.
</p>
<p>
  A field can not be defined with a default value.
  Use a <a href="document-processing.html">document processor</a> to assign a default to document put/update operations.
</p>



<h2 id="fieldsets">Fieldsets</h2>

<p>
  Use <em>fieldset</em> to limit the fields that are returned from a read operation,
  like <em>get</em> or <em>visit</em> - see <a href="vespa-cli.html#documents">examples</a>.
  Vespa may return more fields than specified if this does not impact performance.
</p>
{% include note.html content='Document field sets is a different thing than
<a href="reference/schema-reference.html#fieldset">searchable fieldsets</a>.' %}
<p>
  There are two options for specifying a fieldset:
</p>
<ul>
  <li>Built-in fieldset</li>
  <li>Name of a document type, then a colon ":", followed by a comma-separated list of fields
      (for example <code>music:artist,song</code> to fetch two fields declared in <code>music.sd</code>)
  </li>
</ul>
<p>Built-in fieldsets:</p>
<table class="table">
  <thead>
  <tr>
    <th>Fieldset</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <th>[all]</th>
      <td>
        Returns all fields in the schema (generated fields included) and the document ID.</td>
    </tr><tr>
      <th>[document]</th>
      <td>
        Returns original fields in the document, including the document ID.
      </td>
    </tr><tr>
      <th>[none]</th>
      <td>
        Returns no fields at all, not even the document ID. <em>Internal, do not use</em></td>
    </tr><tr>
      <th>[id]</th>
      <td>
        Returns only the document ID</td>
    </tr><tr>
      <th>&lt;document type&gt;:[document]</th>
      <td>
        {% include deprecated.html content="Use <code>[document]</code>"%}
        Same as <code>[document]</code> fieldset above:
        Returns only the original document fields (generated fields not included)
        together with the document ID.
      </td>
    </tr>
  </tbody>
</table>
<p>If a built-in field set is not used, a list of fields can be specified. Syntax:</p>
<pre>
&lt;document type&gt;:field1,field2,&hellip;
</pre>
<p>Example:</p>
<pre>
music:title,artist
</pre>



<h2 id="document-expiry">Document expiry</h2>
<p>
  To auto-expire documents, use a <a href="reference/services-content.html#documents.selection">
  selection</a> with <a href="reference/indexing-language-reference.html#now">now</a>.
  Example, set time-to-live (TTL) for <em>music</em>-documents to one day, using a field called <em>timestamp</em>:
</p>
<pre>{% highlight xml %}
<documents garbage-collection="true">
    <document type="music" selection="music.timestamp &gt; now() - 86400" />
</documents>
{% endhighlight %}</pre>
<p>Note: The <pre>selection</pre> expression says which documents to <em>keep</em>, not which ones to delete.
  The <em>timestamp</em> field must have a value in seconds since EPOCH:</p>
<pre>
field timestamp type long {
    indexing: attribute
    attribute {
        fast-access
    }
}
</pre>
<p>
  When <code>garbage-collection="true"</code>, Vespa iterates over the document space to purge expired documents.
  Vespa will invoke the configured GC selection for each stored document at most once every
  <a href="reference/services-content.html#documents.selection">garbage-collection-interval</a> seconds.
</p>
  {% include important.html content="This is a best-effort garbage collection feature to conserve CPU and space.
  Use query filters if it is important to exclude documents based on a criterion."%}
<ul>
  <li>
    Using a <em>selection</em> with <em>now</em> can have side effects
    when re-feeding or re-processing documents, as timestamps can be stale.
    A common problem is feeding with too old timestamps,
    resulting in no documents being indexed.
  </li><li>
    Normally, documents that are already expired at write time are not persisted.
    When using <a href="document-v1-api-guide.html#create-if-nonexistent">create</a>
    (Create if nonexistent), it is possible to create documents that are expired and will be removed in next cycle.
  </li><li>
    Deploying a configuration where the selection string selects no documents
    will cause all documents to be garbage collected.
    Use <a href="visiting.html">visit</a> to test the selection string.
    Garbage collected documents are not to be expected to be recoverable.
  </li><li>
    The fields that are referenced in the selection expression should be attributes.
    Also, either the fields should be set with <em>"fast-access"</em> or the number of
    <a href="reference/services-content.html#searchable-copies">
    searchable copies</a> in the content cluster should be the same as
    the <a href="reference/services-content.html#redundancy">redundancy</a>.
    Otherwise, the document selection maintenance will be slow
    and have a major performance impact on the system.
  </li><li>
    <a href="reference/schema-reference.html#import-field">Imported fields</a>
    can be used in the selection string to expire documents, but special care needs to be
    taken when using these.
    See <a href="reference/document-select-language.html#using-imported-fields-in-selections">
    using imported fields in selections</a> for more information and restrictions.
  </li><li>
    Document garbage collection is a low priority background operation that runs continuously
    unless preempted by higher priority operations.
    If the cluster is too heavily loaded by client feed operations, there's a risk of starving
    GC from running. To verify that garbage collection is not starved, check the
    <a href="operations/metrics.html">vds.idealstate.max_observed_time_since_last_gc_sec.average</a>
    distributor metric.
    If it significantly exceeds <code>garbage-collection-interval</code> it is an indication that GC is starved.
  </li>
</ul>
<p>
  To batch remove, set a selection that matches no documents, like <em>"not music"</em>
</p><p>
  Use <a href="visiting.html">vespa visit</a> to test the selection.
  Dump the IDs of all documents that would be <em>preserved</em>:
</p>
<pre>{% highlight sh %}
$ vespa visit --selection 'music.timestamp > now() - 86400' --field-set "music.timestamp"
{% endhighlight %}</pre>
<p>
  Negate the expression by wrapping it in a <code>not</code>
  to dump the IDs of all the documents that would be <em>removed</em> during GC:
</p>
<pre>{% highlight sh %}
$ vespa visit --selection 'not (music.timestamp > now() - 86400)' --field-set "music.timestamp"
{% endhighlight %}</pre>



<h2 id="processing-documents">Processing documents</h2>
<p>
  To process documents, use <a href="document-processing.html">Document processing</a>.
  Examples are enriching documents (look up data from other sources),
  transform content (like linguistic transformations, tokenization),
  filter data and trigger other events based on the input data.
</p><p>
  See the sample app <a href="https://github.com/vespa-engine/sample-apps/tree/master/examples/document-processing">
  album-recommendation-docproc</a> for use of Vespa APIs like:
</p>
  <ul>
    <li><a href="document-api-guide.html">Document API</a> -
      work on documents and fields in documents, and create unit tests using the Application framework</li>
    <li><a href="document-processing.html">Document Processing</a> -
      chain independent processors with ordering constraints</li>
  </ul>
<p>
  The sample app <a href="https://github.com/vespa-cloud/vespa-documentation-search">
  vespa-documentation-search</a> has examples of processing PUTs or UPDATEs
  (using <a href="document-v1-api-guide.html#create-if-nonexistent">create-if-nonexistent</a>) of documents in
  <a href="https://github.com/vespa-cloud/vespa-documentation-search/blob/main/src/main/java/ai/vespa/cloud/docsearch/OutLinksDocumentProcessor.java">
  OutLinksDocumentProcessor</a>.
  It is also in introduction to using <a href="schemas.html#field">multivalued fields</a>
  like arrays, maps and tensors.
  Use the <a href="https://github.com/vespa-cloud/vespa-documentation-search/blob/main/src/test/java/ai/vespa/cloud/docsearch/VespaDocSystemTest.java">
  VespaDocSystemTest</a> to build code that feeds and tests an instance in the Vespa Developer Cloud / local Docker instance.
</p><p>
  Both sample apps also use the Document API to GET/PUT/UPDATE other documents as part of processing,
  using asynchronous <a href="https://github.com/vespa-engine/vespa/blob/master/documentapi/src/main/java/com/yahoo/documentapi/DocumentAccess.java">
  DocumentAccess</a>.
  Use this as a starting point for applications that enrich data when writing.
</p>
