@font-face {
  font-family: 'Roobert';
  src: url("/assets/fonts/Roobert-Medium.woff2") format("woff2"), url("/assets/fonts/Roobert-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Roobert';
  src: url("/assets/fonts/Roobert-MediumItalic.woff2") format("woff2"), url("/assets/fonts/Roobert-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Roobert';
  src: url("/assets/fonts/Roobert-Regular.woff2") format("woff2"), url("/assets/fonts/Roobert-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roobert';
  src: url("/assets/fonts/Roobert-RegularItalic.woff2") format("woff2"), url("/assets/fonts/Roobert-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Roobert';
  src: url("/assets/fonts/Roobert-SemiBold.woff2") format("woff2"), url("/assets/fonts/Roobert-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Roobert';
  src: url("/assets/fonts/Roobert-SemiBoldItalic.woff2") format("woff2"), url("/assets/fonts/Roobert-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic; }
