<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 footer">
    <div class="row">
        <div class="col-md-12 footer-border">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav footer-text">
                        <li>RESOURCES</li>
                        <li><a href="#">Getting Started</a></li>
                        <li><a href="#">Documentation</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="nav footer-text">
                        <li>COMMUNITY</li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Stack Overflow</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="nav footer-text">
                        <li>CONTRIBUTE</li>
                        <li><a href="#">Contributing</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="nav footer-text text-right">
                        <li>
                            <p>Copyright Yahoo Holdings 2017 Licensed by <a href="#">Apache</a> License 2.0</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
