<!-- Copyright Vespa.ai. All rights reserved. -->
<script>
    function toggleMenu() {
        document.getElementById("navMenu").classList.toggle('is-active');
    }
</script>

<!-- Plausible analytics tracking - third-party tracking, no cookies, just for our internal tracking use -->
<script defer data-domain="vespa.ai,docs.vespa.ai" src="https://plausible.io/js/script.js"></script>

<!-- Script to enabla width scroll if they're getting too big -->>
<script>
    window.addEventListener('DOMContentLoaded', () => {
    const tables = document.querySelectorAll('table');
  
    tables.forEach(table => {
      const parent = table.parentElement;
      const tableWidth = table.offsetWidth;
      const parentWidth = parent.offsetWidth;
  
      if (tableWidth > parentWidth) {
        // Avoid double-wrapping if already inside .table-container
        if (!parent.classList.contains('table-container')) {
          const wrapper = document.createElement('div');
          wrapper.className = 'table-container';
          parent.replaceChild(wrapper, table);
          wrapper.appendChild(table);
        }
      }
    });
  });
  
  </script>