<!-- Copyright Verizon Media. All rights reserved. -->
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107187180-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
    gtag('config', 'UA-107187180-1');
</script>

<script>
    function toggleMenu() {
        document.getElementById("navMenu").classList.toggle('is-active');
    }
</script>
