<!-- Copyright Vespa.ai. All rights reserved.. -->
<script>

	function setModeParam(mode) {
		const currentUrl = new URL(window.location.href);  // Get the current URL
		const urlParams = new URLSearchParams(currentUrl.search);
		urlParams.set('mode', mode);  // Set or update the query parameter
		currentUrl.search = urlParams.toString();
		window.history.pushState({}, '', currentUrl);
	}

	function hideElements(mode){
		const hiddenElements = document.querySelector(`.mode-${mode}`);
		if (hiddenElements){
			hiddenElements.style.display = 'none';  
		}
	}

	function showElements(mode){
		const hiddenElements = document.querySelector(`.mode-${mode}`);
		if (hiddenElements){
			hiddenElements.style.display = 'block';  
		}
	}
	
	function handleCurrentMode(currentmode){
        localStorage.setItem('mode', currentmode);
		if (currentmode === 'cloud'){
			hideElements('selfhosted');
			showElements('cloud');
		} else if (currentmode === 'selfhosted'){
			hideElements('cloud');
			showElements('selfhosted')
		}
	}
	function selectMode(mode) {
		setModeParam(mode);
		handleCurrentMode(mode);
	}

	document.addEventListener('DOMContentLoaded', function() {
		const currentUrl = new URL(window.location.href); 
		const urlParams = new URLSearchParams(currentUrl.search);
		let currentmode = urlParams.get('mode');
        if (!currentmode) {
            currentmode = localStorage.getItem('mode');
            if (currentmode) {
                setModeParam(currentmode);
            } else if (!currentmode) {
            // This is temporairly added so that we can test the new mode selector
            // The selector will only appear if there is ?mode= in the url or if it is stored in local storage
                document.getElementById('docs-mode').classList.add('hide');
                document.getElementById('sidebar').classList.remove('p-t-35');
                showElements('cloud');
                showElements('selfhosted');
            }
        }
		
		if(currentmode !== null){
			document.getElementById('docs-mode').value = currentmode;
			handleCurrentMode(currentmode);
		}

		document.getElementById('docs-mode').addEventListener('change', function() {
			const selectedValue = this.value;
			selectMode(selectedValue);
		});
	});
	
</script>
<!-- Navbar -->
<nav class="nav sticky-top {{include.class}}">
    <div class="nav-left">
        <span class="nav-item hide-small-desktop-up" onclick="toggleMenu()"><i class="d-icon d-menu-hamburger"></i></span>
        <a href="https://docs.vespa.ai/">
            <img class="nav-brand" src="{{ site.baseurl }}/assets/logos/{{include.logo}}" alt="Vespa logo"/></a>
            <select id="docs-mode" style="width: 80%; padding: 10px 5px; margin-top: -7px; font-size: 1.6rem;">
                <option value="cloud">Vespa Cloud</option>
                <option value="selfhosted">Vespa Self-hosted</option>
            </select>
    </div>

    <div  id="navMenu" class="nav-responsive">
        <div class="nav-center">
            <a class="nav-item" href="https://join.slack.com/t/vespatalk/shared_invite/zt-nq61o73o-Lsun7Fnm5N8uA6UAfIycIg">Slack</a>
            <a class="nav-item" href="https://blog.vespa.ai/">Blog</a>
            <a class="nav-item" href="https://twitter.com/vespaengine" data-proofer-ignore>Twitter</a>
            <a class="nav-item" href="https://github.com/vespa-engine">GitHub</a>
            <a class="nav-item" href="https://github.com/vespa-engine/vespa/issues">Issues</a>
            <a class="nav-item" href="/sitemap.html">TOC</a>
        </div>

        <div class="nav-right nav-item section-searchbar">
            <form action="https://search.vespa.ai/search.html" method="GET" id="search-form">
                <div class="input-group has-button">
                    <div class="input">
                        <input type="text" class="section-searchbar" placeholder="Search" id="searchinput" name="query" />
                    </div>
                    <button type="submit" id="submit" class="button is-solid has-icon p-0 section-searchbar"><i class="d-icon d-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</nav>

<script type="module" src="/js/search_suggestions.js"></script>
