<div class="vespa-notification vespa-notification-prereqs" role="alert">
  <p><strong>Prerequisites:</strong></p>
  <ul>
    <li>
      Linux, macOS or Windows 10 Pro on x86_64 or arm64,
      with <a href="https://podman.io/">Podman Desktop</a> or
      <a href="https://www.docker.com/products/docker-desktop/">Docker Desktop</a> installed, with an engine running.
        <ul>
            <li>
      Alternatively, start the Podman daemon:
<pre>
$ podman machine init --memory 6000
$ podman machine start
</pre>
            </li>
            <li>See <a href="/en/operations/self-managed/docker-containers.html">Docker Containers</a> for system limits and other settings.</li>
        </ul>
    </li>
    <li>For CPUs older than Haswell (2013), see <a href="/en/cpu-support.html">CPU Support</a>.</li>
    <li>
      Memory: Minimum {{ include.memory }} RAM dedicated to Docker/Podman.
      <a href="/en/operations/self-managed/node-setup.html#memory-settings">
        Memory recommendations</a>.
    </li>
    <li>
      Disk: Avoid <code>NO_SPACE</code> - the vespaengine/vespa container image + headroom for data requires disk space.
      <a href="/en/writing/feed-block.html">Read more</a>.
    </li>
    <li>
      <a href="https://brew.sh/">Homebrew</a> to install the <a href="/en/clients/vespa-cli.html">Vespa CLI</a>,
      or download the Vespa CLI from <a href="https://github.com/vespa-engine/vespa/releases">Github releases</a>.
    </li>
    {{ include.extra-reqs }}
  </ul>
</div>
