<div markdown="span" class="vespa-notification vespa-notification-prereqs" role="alert">
  <p><strong>Prerequisites:</strong></p>
  <ul>
    <li>Docker: <a href="https://docs.docker.com/engine/install/">Docker Desktop for Mac/Windows</a>,
      or Docker on Linux</li><!-- ToDo: something on podman / runc ? -->
    <li>Operating system: Linux, macOS or Windows 10 Pro</li>
    <li>Architecture: x86_64.
      <strong>M1 users: see <a href="https://blog.vespa.ai/preview-of-vespa-on-arm64/">vespa-on-arm64</a></strong></li>
    <li>Memory: Minimum {{ include.memory }} dedicated to Docker (the default is 2 Gb on macOS).
      <a href="https://github.com/vespa-engine/sample-apps/tree/master/examples/operations/multinode-HA#memory-usage">
        Minimize memory usage</a>.</li>
  </ul>
</div>
