<p>Setup:</p>
<ol class="howto">
  <li>
    <p><b>Create a <a href="/en/learn/tenant-apps-instances.html">tenant</a> on Vespa Cloud:</b></p>
    <p>Go to <a target="_blank" href="https://console.vespa-cloud.com/">console.vespa-cloud.com</a>
    and create your tenant (unless you already have one).</p>
  </li>

  <li>
    <p><b>Install the <a href="/en/clients/vespa-cli.html">Vespa CLI</a></b>
      using <a href="https://brew.sh/">Homebrew</a>:</p>
    <div class="pre-parent">
      <button class="d-icon d-duplicate pre-copy-button" onclick="copyPreContent(this)"></button>
<pre>
$ brew install vespa-cli
</pre>
    </div>
    <p>Windows/No Homebrew? See the <a href="/en/clients/vespa-cli.html">Vespa CLI page</a> to download directly.</p>
  </li>

  <li>
    <p><b>Configure the Vespa client:</b></p>
    <div class="pre-parent">
      <button class="d-icon d-duplicate pre-copy-button" onclick="copyPreContent(this)"></button>
<pre>
$ vespa config set target cloud &amp;&amp; \
  vespa config set application <span class="pre-hilite">tenant-name</span>.myapp
</pre>
    </div>
<!-- Set a test-local VESPA_CLI_HOME for auto-testing -->
<pre data-test="exec" style="display:none">
$ echo $(PWD)
$ export VESPA_CLI_HOME=$PWD/.vespa
$ vespa config set target cloud
$ vespa config set application vespa-team.autotest
</pre>
    <p>Use the tenant name from step 1.</p>
  </li>

  <li>
    <p><b>Get Vespa Cloud control plane access:</b></p>
    <div class="pre-parent">
      <button class="d-icon d-duplicate pre-copy-button" onclick="copyPreContent(this)"></button>
<pre>
$ vespa auth login
</pre>
    </div>
    <p>Follow the instructions from the command to authenticate.</p>
  </li>

  <li>
    <p><b>Clone a sample <a href="/en/basics/applications.html">application</a>:</b></p>
    <div class="pre-parent">
      <button class="d-icon d-duplicate pre-copy-button" onclick="copyPreContent(this)"></button>
<pre data-test="exec">
$ vespa clone {{ include.appname }} myapp &amp;&amp; cd myapp
</pre>
    </div>
    <p>See <a href="https://github.com/vespa-engine/sample-apps">sample-apps</a> for other sample apps you can clone.</p>
  </li>

  <li>
    <p><b>Add a certificate for <a href="/en/security/guide#data-plane">data plane access</a>
       to the application:</b></p>
    <div class="pre-parent">
      <button class="d-icon d-duplicate pre-copy-button" onclick="copyPreContent(this)"></button>
<pre data-test="exec">
$ vespa auth cert app
</pre>
    </div>
  </li>
</ol>
