<!-- Copyright Vespa.ai. All rights reserved. -->


<div class="toc" style="position: fixed;">
    <h3 class="row">On this page:</h3>
    {% assign headings = content | split: '<' %}
    
    <ul style=" z-index: 3; max-height: 80vh; overflow-y: auto;">
          {% for tag in headings %}
          {% assign tag_slice = tag | slice: 0, 1%}
          {% if tag_slice == '/' %}
            {% continue %}
          {% else %}
            {% if tag contains 'h1' or tag contains 'h2' or tag contains 'h3' %}
              {% assign toc_level = tag | slice: 1, 2%}
              {% assign parts = tag | split: '>' %}
              {% assign heading_id_first_cut = parts[0] | split: 'id="' %}
              {% assign heading_id_second_cut = heading_id_first_cut[1] | split: '"' %}
              {% assign heading_id = heading_id_second_cut[0] | strip | lstrip %}
              {% assign heading_text = parts[1] | strip | lstrip %}
  
              {% if heading_text != "" %}
              <li class="toc-level-{{toc_level | minus: 1 }} m-l-20 m-r-20">
                <a href="#{{ heading_id }}">{{ heading_text }}</a>
              </li>
          {% endif %}
            {% endif %}
          {% endif %}
          {% endfor %}
  
    </ul>
  </div>
  
<script>
    document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll("h1, h2, h3").forEach(function(heading) {
        if (!heading.id) {
          const id = heading.innerText.toLowerCase().replace(/[^\w]+/g, '-');
          heading.id = id;
        }
      });
    });
  </script>
  