<!-- Copyright Vespa.ai. All rights reserved. -->
{% assign h2_count = content | split: '<h' | size | minus: 1 %}
    {% if h2_count > 4 %}
  

<nav class="toc {% if page.title == 'FAQ - frequently asked questions'%} faq-toc {% endif %}" aria-labelledby="on-this-page-heading" style="position: fixed; align-self: flex-start;">
    <h3 id="on-this-page-heading"  style="pointer-events: none;">On this page:</h3>
    {% assign headings = content | split: '<' %}
    
    <ul>
          {% for tag in headings %}
          {% assign tag_slice = tag | slice: 0, 1%}
          {% if tag_slice == '/' %}
            {% continue %}
          {% else %}
          {% assign tag_start = tag | slice: 0, 3 %}
          {% if tag_start == 'h1 ' or tag_start == 'h2 ' or tag_start == 'h3 ' or tag_start == 'h1>' or tag_start == 'h2>' or tag_start == 'h3>' %}          
              {% assign toc_level = tag | slice: 1, 2%}
              {% assign parts = tag | split: '>' %}
              {% assign heading_id_first_cut = parts[0] | split: 'id="' %}
              {% assign heading_id_second_cut = heading_id_first_cut[1] | split: '"' %}
              {% assign heading_id = heading_id_second_cut[0] | strip | lstrip %}
              {% assign heading_text = parts[1] | strip | lstrip %}
  
              {% if heading_text != "" %}
              <li class="toc-level-{{toc_level | minus: 1 }}">
                <a href="#{{ heading_id }}">{{ heading_text }}</a>
              </li>
          {% endif %}
            {% endif %}
          {% endif %}
          {% endfor %}
  
    </ul>
  </div>
  
{% endif %}
  