<div class="vespa-notification vespa-notification-video" role="alert">
  <span style="vertical-align: top; display: table-cell;">
    <a href="{{ include.video-url }}">
    <img src="{{ include.image-url }}" alt="Video thumbnail" width="154" height="auto"/></a></span> <!-- with 10% of original -->
  <span  style="vertical-align: top; display: table-cell;">
    &nbsp;<strong>Vespa videos:</strong>
  Find <em>{{ include.video-title }}</em> in the vespaengine <a href="https://www.youtube.com/@vespaai">youtube channel</a>!</span>
</div>
