<h2>Welcome to Vespa</h2>

<p class="intro">Easily serves big data - generates responses at any <br> scale in milliseconds with any traffic volume.</p>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5 welcome-border">
                <h3>Vespa lets you</h3>
                <ul class="welcome">
                    <li>Select content using sql-like queries and unstructured search</li>
                    <li>Organize all matches to generate data-driven pages</li>
                    <li>Rank matches by handwritten or machine-learned relevance models</li>
                    <li>Write data in real time thousands of times per second per node</li>
                    <li>Grow, shrink and reconfigure clusters while serving and writing</li>
                </ul>
            </div>
            <div class="col-md-5">
                <h3>Use Vespa to build</h3>
                <ul class="welcome">
                    <li>Search applications</li>
                    <li>Personalized recommendation systems</li>
                    <li>Navigation pages computed on demand</li>
                    <li>Realtime data displays - tag clouds, maps, graphs</li>
                    <li>Combinations of all of this</li>
                </ul>
            </div>
        </div>
    </div>
</div>
