---
# Copyright Vespa.ai. All rights reserved.
title: "About this documentation"
redirect_from:
- /en/introduction-to-documentation.html
---

<p>The Vespa documentation (<a href="https://docs.vespa.ai/">https://docs.vespa.ai/</a>) provides all the information required
to use all Vespa features and deploy them in any supported environment.</p>

<p>It is split into guides and tutorials, which explains features and how to use them to solve problems,
and reference documentation which list complete information about all features and APIs.</p>


<h2>Applicability</h2>

<p>The Vespa platform is open source, and can be deployed in self-managed systems and on the Vespa Cloud
service. Some add-ons (but no core functionality) are only available under a commercial license.</p>

<p>Documents that describe functionality with such limited applicability are clearly marked by one
or more of the following chips:</p>

<table>
  <tr><td>{% include chip-cloud.html %}</td><td>Only applicable with Vespa Cloud deployments.</td></tr>
  <tr><td>{% include chip-self-managed.html %}</td><td>Only applicable with self-managed deployments.</td></tr>
  <tr><td>{% include chip-enterprise.html %}</td><td>Not open source: Available commercially only (both self-managed and on cloud unless also marked by one of the other chips above).</td></tr>
</table>

<p>For clarity, any document <i>not</i> marked with these chips describes functionality that is
open source and available both on with Vespa Cloud and self-managed deployments.</p>


<h2>Contributing</h2>

<p>If you find errors or want to improve the documentation,
<a href="https://github.com/vespa-engine/vespa/issues">create an issue</a> or
<a href="contributing">contribute a fix</a>. See the <a href="https://docs.vespa.ai/README.md">README</a>
before contributing.


<h2>Notation</h2>

<p>
  <em>Italic</em> is used for:
</p>
<ul>
  <li>Pathnames, filenames, program names, hostnames, and URLs</li>
  <li>New terms where they are defined</li>
</ul>
<p>
  <code>Constant Width</code> is used for:
</p>
<ul>
  <li>Programming language elements, code examples, keywords, functions,
    classes, interfaces, methods, etc.</li>
  <li>Commands and command-line output</li>
</ul>
<p>
Commands meant to be run on the command line are shown like this,
prepended by a $ for the prompt:
</p>
<pre>
$ export PATH=$VESPA_HOME/bin:$PATH   # <span class="pre-hilite">how to highlight text in &lt;pre&gt;</span>
</pre>
<p>
  Notes and other Important pieces of information are shown like:
</p>
{% include note.html       content="Some info here"%}
{% include important.html  content="Important info here"%}
{% include warning.html    content="Warning here"%}
{% include deprecated.html content="Deprecation warning here"%}
