<!DOCTYPE html>
<!-- Copyright Vespa.ai. All rights reserved. -->
<html lang="en">

{% include htmlhead.html theme="light" %}

<body class="denali-theme-vespa-light subpage">

{% include navbar.html logo="logo.svg" class="vespa-light" %}

<div class="container-full is-marginless is-gutterless denali-theme-vespa-light" >
  <!-- use nowrap here to keep the content column next to sidebar -->
  <div class="row" style="flex-wrap: nowrap;">

    <div class="col xs-hide sm-hide md-col-4-12 lg-col-3-12 xl-col-3-12">
      {% include sidebar.html %}
      <!-- Dummy: With the .tabs fixed position in style.scss,
           put this dummy div in this column to take space. -->
           <div style="min-width: 305px; width: 305px;"></div>

    </div>
    <div class="col md-col-8-12 lg-col-6-12 xl-col-7-12">

      <div class="row">
        {% if page.category == "cloud" %}
          {% include chip-cloud.html %}
        {% else %}
          {% if page.category == "oss" %}
            {% include chip-oss.html %}
          {% else %}
            <!-- ToDo: This is the default - both oss and cloud. Activate this one happy with the format -->
            <!-- { % include chip-oss-cloud.html % } -->
          {% endif %}
        {% endif %}
      </div>

      {% unless page.skipheading %}
      <div class="row m-t-20 m-b-20 m-l-20">
        <div class="col">
          <h1>{{ page.title | escape }}</h1>
        </div>

        <div class="col-1-12">
          <a href="{{site.github.repository_url}}/blob/master/{{page.path}}"
             class="d-icon is-small d-pencil"
             data-proofer-ignore></a> <!-- https://denali.design/icons alternative d-file-edit ToDo: color-->
        </div>

      </div>
      {% endunless %}

      <div class="m-l-20 m-r-20" style="word-break: break-word; overflow-wrap: break-word;  word-wrap: break-word; max-width: 1000px">
        {{ content }}
      </div>
    </div>
    <div class="col xs-hide sm-hide md-hide lg-col-3-12 xl-col-2-12">
      {% include toc.html %}
    </div>
  </div>
</div>

{% include js.html %}
<script src="/js/pre_copy.js"></script>
<script src="/js/header_links.js"></script>
</body>
</html>
