name: Vespa Documentation Search Feed
on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - '*.md'
      - '*.html'
      - '**/*.md'
      - '**/*.html'
      - '.github/workflows/feed.yml'
      - '_*config.yml'
      - 'feed_to_vespa.py'

env:
  DATA_PLANE_PUBLIC_KEY     : ${{ secrets.VESPA_TEAM_DATA_PLANE_PUBLIC_CERT }}
  DATA_PLANE_PRIVATE_KEY    : ${{ secrets.VESPA_TEAM_DATA_PLANE_PRIVATE_KEY }}
  VESPA_CLI_DATA_PLANE_CERT : ${{ secrets.VESPA_TEAM_VESPA_CLI_DATA_PLANE_CERT }}
  VESPA_CLI_DATA_PLANE_KEY  : ${{ secrets.VESPA_TEAM_VESPA_CLI_DATA_PLANE_KEY }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.4.8
        bundler-cache: false

    - name: Build site
      run: |
        bundle install
        bundle exec jekyll build -p _plugins-vespafeed

    - name: Setup Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        pip3 install PyYAML mmh3 requests html5lib beautifulsoup4 markdownify tiktoken

    - name: Install Vespa CLI
      uses: vespa-engine/setup-vespa-cli-action@6072462cfdaa5f704890dcfa9160759099e58469 # v1

    - name: Feed docs site
      run: |
        # The python scripts below uses the Vespa CLI for feeding / data access.
        # See https://docs.vespa.ai/en/vespa-cli.html.
        # The environment variables below have credentials for endpoint access -
        # use the key/cert files in .vespa and paste their content into GitHub Secrets.
        export VESPA_CLI_DATA_PLANE_CERT
        export VESPA_CLI_DATA_PLANE_KEY
        ./feed_to_vespa.py _config.yml

    - name: Feed paragraphs site
      run: |
        ./feed-split.py open_index.json https://docs.vespa.ai questions.jsonl
        ./feed_to_vespa.py _paragraphs_config.yml

    - name: Feed suggestions
      run: |
        ./feed_to_vespa.py _suggestions_config.yml
     

    - name: Generate and feed reference suggestions
      run: |
        ./generate_suggestions_from_reference.py en/reference/schemas/schemas.html https://docs.vespa.ai/ open-p > suggestions.jsonl
        ./generate_suggestions_from_reference.py en/reference/api/query.html https://docs.vespa.ai/ open-p > suggestions.jsonl
        ./generate_suggestions_from_reference.py en/reference/querying/yql.html https://docs.vespa.ai/ open-p > suggestions.jsonl
        ./generate_suggestions_from_reference.py en/reference/writing/indexing-language.html https://docs.vespa.ai/ open-p > suggestions.jsonl
        ./generate_suggestions_from_reference.py en/reference/applications/services/services.html https://docs.vespa.ai/ open-p >> suggestions.jsonl
        ./generate_suggestions_from_reference.py en/reference/applications/services/admin.html https://docs.vespa.ai/ open-p >> suggestions.jsonl
        ./generate_suggestions_from_reference.py en/reference/applications/services/container.html https://docs.vespa.ai/ open-p >> suggestions.jsonl
        ./generate_suggestions_from_reference.py en/reference/applications/services/docproc.html https://docs.vespa.ai/ open-p >> suggestions.jsonl
        ./generate_suggestions_from_reference.py en/reference/applications/services/processing.html https://docs.vespa.ai/ open-p >> suggestions.jsonl
        ./generate_suggestions_from_reference.py en/reference/applications/services/search.html https://docs.vespa.ai/ open-p >> suggestions.jsonl
        ./generate_suggestions_from_reference.py en/reference/applications/services/http.html https://docs.vespa.ai/ open-p >> suggestions.jsonl
        ./generate_suggestions_from_reference.py en/reference/applications/services/content.html https://docs.vespa.ai/ open-p >> suggestions.jsonl
        ./convert.py suggestions.jsonl suggestions_reference_index.json 
        ./feed_to_vespa.py _suggestions_reference_config.yml
