name: Link checker

on:
  workflow_dispatch:
  schedule:
    - cron: "00 3 * * 1,3,5"

jobs:
  test:
    uses: vespa-engine/gh-actions/.github/workflows/jekyll-link-checker.yml@main
    with:
      ignore-files: |-
        /playground/index.html/
      ignore-urls: |-
        /aclanthology.org/
        /arxiv.org/
        /cwiki.apache.org/
        /datatracker.ietf.org/
        /docs.vespa.ai/playground/
        /hub.docker.com/r/
        /javadoc.io.*#/
        /linux.die.net/
        /localhost:8080/
        /platform.openai.com/
        /readthedocs.io.*#/
        /search.maven.org/
        /slack.vespa.ai/
        /www.ietf.org/
        /www.baeldung.com/
        /txt.cohere.com/
        /dl.acm.org/doi/
        /anthropic.com/
